<div class="product product-list-item">
    <div class="product-image">
        <a href="{% url "ecommerce:details" product.id %}">
            <img src="{{ product.cover.url }}" alt="temporario">
        </a>
    </div>
    <div class="product-title-container">
        
            <h2 class="product-title">
                <a href="{% url "ecommerce:details" product.id %}">{{ product.title }}</a>
            </h2>
        
    </div>
    <div class="product-seller">
        <span class="product-seller-item">
            <i class="fas fa-user"></i>
            {{ product.author.first_name }} {{ product.author.last_name }}
        </span>
        <br>
        <span class="product-seller-item">
            <i class="fas fa-calendar-alt"></i>
            {{ product.created_at|date:"d/m/Y"}} às {{ product.created_at|date:"H:i:s"}}
        </span>
        <br>
        <span class="product-seller-item">
            <a href="/products/category/amigurumi/">
                <i class="fas fa-layer-group"></i>
                <span>{{ product.category.name }}</span>
            </a>
        </span>
    </div>
    <div class="product-content">
        <p>{{ product.description }}</p>
    </div>
    
    <div class="product-meta-container">
        <div class="product-meta product-category">
            <h3 class="product-meta-title">
                <i class="fa-solid fa-barcode"></i>
                {{ product.category.name }}
            </h3>
            <div class="product-meta-text">
                {{ product.type }}
            </div>
        </div>
        <div class="product-meta product-price">
            <h3 class="product-meta-title">
                <i class="fa-solid fa-tag"></i> 
                Preço
            </h3>
            <div class="product-meta-text">
                R$ {{ product.sale_price}},99
            </div>
        </div>
    </div>

    {% if is_detail_page is not True  %}
    <footer class="product-footer">
        <a class="product-read-more button button-dark button-full-width" href="{% url "ecommerce:details" product.id %}">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
    {% endif %}

    {% if is_detail_page is True %}
        <div class="ecommerce:details">{{ product.product_details }}</div>
    {% endif %}

</div>