{% include "components/head.html" %}
<body>
    {% include "components/header.html" %}

    {% include "components/search.html" %}


    <main class="main-content-container">
        <div class="main-content main-content-list container">
            
            {% include "components/product.html" %}
            {% include "components/product.html" %}
            {% include "components/product.html" %}
            {% include "components/product.html" %}
            {% include "components/product.html" %}
            {% include "components/product.html" %}
            
        </div>
    </main>


</body>
</html>